@font-face {
  font-family: "RixYeoljeongdo_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "RixYeoljeongdo_Regular";
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #edeef3;
  overflow: auto;
}
.App {
  justify-content: space-between;
}
.nav {
  flex: 1;
}
.pages {
  height: 85vh;
  width: 80%;
  margin: 0 auto;
}

footer {
  text-align: center;
}
